{{!-- contact form --}}

<div id="contactForm">
    <h2>Contact Form</h2>

    <form action="mailto:jan3541@gmail.com?cc=gmmkudadeniya@gmail.com&bcc=a.g.marosi@bluewin.ch" Subject="My Message" method="POST"  id="contact"  target="_blank" placeholder="Message*">

        <div>
            <input type="text" name="fname" placeholder="Your First Name..." id="fname">

            <input type="text" name="lname" placeholder="Your Last Name..." id="lname">
        </div>
        <div>
            <input type="text" placeholder="Your City...">

            <input type="text" name="email" placeholder="Your Email address.." id="email">
        </div>
        <center>
            <textarea id="msg" name="message" placeholder="Your Message..."></textarea>
        </center>
        <center>
            <button type="submit" form="contact" value="submit">Submit</button>
        </center>



    </form>

</div>