<div class="home">

  <p>Andras Marosi <br><br><br>
    TYPESCRIPT, FULL STACK<br> DEVELOPER<br><br>

  <p>Jan Affeltranger <br><br><br>
    HTML AND CSS, FRONT <br> END DEVELOPER <br><br>


  <p>Mahasen Kudadeniya <br><br><br>
    HTML AND CSS, FRONT <br> END DEVELOPER <br><br>

</div>